# Projeto 1 - Ciência dos Dados#

Nome: Daniel Minson Pucciariello

## Perguntas a serem respondidas

Esse projeto tem como objetivo analisar como a ação da UNAIDS em países em que atua desde 1996, momento em que foi fundada, vem alterando a vida da população desses países. Mais precisamente, ele pretende responder às seguintes perguntas:

A ação da agencia internacional ocasionou uma diminuição significativa no índice de mortes por AIDS, no índice de novas pessoas com AIDS e no número de pessoas que vivem com AIDS?
A ação da agencia internacional pode ter ocasionado uma melhora sigificativa na condição de saúde dos países em que atua e aumentado a expectativa de vida dos países?
A ação da agencia internacional foi eficiente (partindo de 2005) quando se trata de diminuir o número de mortes relativas?

## Explicação da hipótese e mecanismo

Anteriormente ao estudo ser realizado, se espera que a ação da UNAIDS tenha levado à uma redução significativa na taxa de mortalidade por AIDS e no número de pessoas que vive com AIDS. Se entende que uma comparação entre dados de gastos com saúde (muitas vezes maiores devido à doações internacionais muitas vezes fomentadas pela ação da UNAIDS) e a diminuição da porcentagem de mortes por AIDS possa atestar a eficiencia (ou não) da ação desse orgão internacional.

## Bases de dados usadas

LINKS (ainda faltam alguns dados):

Adultos com HIV - https://docs.google.com/spreadsheet/pub?key=pyj6tScZqmEfbZyl0qjbiRQ&output=xlsx

IDH - https://docs.google.com/spreadsheet/pub?key=tyadrylIpQ1K_iHP407374Q&output=xlsx

População total - https://docs.google.com/spreadsheet/pub?key=phAwcNAVuyj0XOoBL_n5tAQ&output=xlsx

Expectativa de vida - https://docs.google.com/spreadsheet/pub?key=phAwcNAVuyj2tPLxKvvnNPA&output=xlsx

In [115]:
%matplotlib inline
import pandas as pd
import numpy as np
import math as math
from scipy import stats
import matplotlib.pyplot as plt

In [90]:
IDH = pd.read_excel('hdi_human_development_index.xlsx')
deaths = pd.read_excel("Indicator_Annual number of AIDS deaths.xlsx")
peoplewithaids = pd.read_excel("indicator_hiv_plwha.xlsx")
expectativadevida = pd.read_excel('indicator life_expectancy_at_birth.xlsx')
pibpercapita = pd.read_excel('indicator gapminder gdp_per_capita_ppp.xlsx')
newlyinfected = pd.read_excel('Indicator_Estimated new HIV cases All ages.xlsx')
totalpopulation = pd.read_excel("indicator gapminder population.xlsx")
donationsfromUNAIDS = pd.read_excel("API_DT.NFL.UNAI.CD_DS2_en_excel_v2_72792.xls")

**Mudando os índices, renomeando colunas e limpando dados:**

In [96]:
IDH= IDH.rename(columns = {"geo":'IDH'})
idh_idx=IDH.set_index("IDH")
idh_idx=idh_idx.dropna()

deaths=deaths.rename(columns = {"Annual number of AIDS deaths":'Mortes por AIDS', "1996": 1996, "2001":2001})
deaths_idx=deaths.set_index("Mortes por AIDS")
deaths_idx=deaths_idx.dropna()

peoplewithaids=peoplewithaids.rename(columns = {"People living with HIV":'Pessoas vivendo com HIV', "1996": 1996, "2001":2001})
peoplewithaids_idx=peoplewithaids.set_index("Pessoas vivendo com HIV")
peoplewithaids_idx=peoplewithaids_idx.dropna()

expectativadevida=expectativadevida.rename(columns={"Life expectancy":"Expectativa de vida"})
expectativadevida_idx=expectativadevida.set_index("Expectativa de vida")
expectativadevida_idx=expectativadevida_idx.dropna()

pibpercapita=pibpercapita.rename(columns={"GDP per capita":"PIB per capita"})
pibpercapita_idx=pibpercapita.set_index("PIB per capita")
pibpercapita_idx=pibpercapita_idx.dropna()

newlyinfected=newlyinfected.rename(columns={"Estimated new HIV infections":"Incidencia de HIV em novas pessoas"})
newlyinfected_idx=newlyinfected.set_index("Incidencia de HIV em novas pessoas")
newlyinfected_idx=newlyinfected_idx.dropna()

totalpopulation=totalpopulation.rename(columns={"Total population":"População total"})
totalpopulation_idx=totalpopulation.set_index("População total")
totalpopulation_idx=totalpopulation_idx.dropna()

donationsfromUNAIDS=donationsfromUNAIDS.rename(columns={"Country Name":"Doações recebidas por país"})
donationsfromUNAIDS_idx=donationsfromUNAIDS.set_index("Doações recebidas por país")
donationsfromUNAIDS_idx=donationsfromUNAIDS_idx.dropna()

**Estudo dos dados a cada 5 anos, sendo 5 anteriores e 5 posteriores ào começo da organização:**

In [92]:
idh_5_anos =idh_idx.loc[:,[1991, 1996, 2001]]
deaths_5_anos=deaths_idx.loc[:,[1991, 1996, 2001]]
peoplewithaids_5_anos=peoplewithaids_idx.loc[:,[1991, 1996, 2001]]
expectativadevida_5_anos=expectativadevida_idx.loc[:,[1991, 1996, 2001]]
pibpercapita_5_anos =pibpercapita_idx.loc[:,[1991, 1996, 2001]]
newlyinfected_5_anos =newlyinfected_idx.loc[:,[1991, 1996, 2001]]
totalpopulation_5_anos = totalpopulation_idx.loc[:,[1991, 1996, 2001]]

**Comparação do IDH de 5 em 5 anos:**

In [93]:
idh_5_anos.head()

              1991   1996   2001
IDH
Afghanistan  0.300  0.328  0.341
Albania      0.618  0.637  0.670
Algeria      0.581  0.609  0.653
Argentina    0.713  0.738  0.776
Armenia      0.628  0.609  0.645

**Comparação da taxa de mortes por HIV, de 5 em 5 anos:**

In [49]:
deaths_5_anos.head()

                  1991   1996   2001
Mortes por AIDS
Afghanistan       60.0  150.0  150.0
Armenia           60.0   60.0  150.0
Australia        600.0  600.0  150.0
Austria           60.0   60.0   60.0
Azerbaijan        60.0   60.0  150.0

**Comparação da quantidade de pessoas que vivem com HIV, de 5 anos em 5 anos:**

In [50]:
peoplewithaids_5_anos.head()

                            1991     1996      2001
Pessoas vivendo com HIV
Afghanistan                600.0   1400.0    2000.0
Angola                   39000.0  80000.0  130000.0
Argentina                31000.0  51000.0   66000.0
Armenia                    600.0   1600.0    3500.0
Australia                12000.0  11000.0   13000.0

**Comparação da quantidade de novas pessoas infectadas com AIDS, de 5 anos em 5 anos:**

In [51]:
newlyinfected_5_anos.head()

                                      1991     1996     2001
Incidencia de HIV em novas pessoas
Angola                              8500.0  15000.0  20000.0
Bahamas                              750.0    750.0    750.0
Bangladesh                           160.0    160.0    350.0
Barbados                             160.0    160.0    160.0
Belarus                               60.0    160.0   2100.0

**Comparação da expectativa de vida, de 5 anos em 5 anos:**

In [52]:
expectativadevida_5_anos.head()

                     1991  1996  2001
Expectativa de vida
Afghanistan          49.3  49.7  50.4
Albania              73.4  73.8  75.1
Algeria              70.5  72.1  73.5
American Samoa       70.2  70.7  71.7
Andorra              81.8  82.8  83.9

**Comparação da população de cada país, de 5 anos em 5 anos:**

In [53]:
totalpopulation_5_anos.head()

                       1991        1996        2001
População total
Afghanistan      12789374.0  17481800.0  20531160.0
Albania           3275438.0   3092034.0   3124093.0
Algeria          26554277.0  29411839.0  31590320.0
American Samoa      48379.0     53926.0     58176.0
Andorra             56674.0     64291.0     67770.0

**Comparação do número de pessoas com AIDS, mortes por AIDS e expectativa de vida em cada um dos países**

In [72]:
pessoascomaids_mortesporaids= peoplewithaids_5_anos.join(deaths_5_anos, how="inner", lsuffix ="_people_w_hiv", rsuffix = "_mortesporaids")

In [71]:
expectativadevida_5_anos_suffix=expectativadevida_5_anos.add_suffix('_expectativadevida')
pessoascomaids_mortesporaids_expectativadevida=pessoascomaids_mortesporaids.join(expectativadevida_5_anos_suffix, how="inner")
pessoascomaids_mortesporaids_expectativadevida.head()

,1991_people_w_hiv,1996_people_w_hiv,2001_people_w_hiv,1991_mortesporaids,1996_mortesporaids,2001_mortesporaids,1991_expectativadevida,1996_expectativadevida,2001_expectativadevida
Afghanistan,600.0,1400.0,2000.0,60.0,150.0,150.0,49.3,49.7,50.4
Armenia,600.0,1600.0,3500.0,60.0,60.0,150.0,69.7,69.4,71.4
Australia,12000.0,11000.0,13000.0,600.0,600.0,150.0,77.4,78.5,80.1
Austria,600.0,2300.0,5500.0,60.0,60.0,60.0,75.8,77.1,78.6
Azerbaijan,160.0,600.0,3000.0,60.0,60.0,150.0,65.3,65.0,67.2

**Comparação do IDH com PIB**

In [74]:
idh_pib= idh_5_anos.join(pibpercapita_5_anos, how="inner", lsuffix ="_idh", rsuffix = "_pibpercapita")
idh_pib.head()

,1991_idh,1996_idh,2001_idh,1991_pibpercapita,1996_pibpercapita,2001_pibpercapita
Afghanistan,0.300,0.328,0.341,1022.0,895.0,862.0
Albania,0.618,0.637,0.670,3081.0,4326.0,5730.0
Algeria,0.581,0.609,0.653,9748.0,9375.0,10203.0
Argentina,0.713,0.738,0.776,9333.0,11150.0,10875.0
Armenia,0.628,0.609,0.645,3329.0,2333.0,3214.0

**Junção de várias tabelas - apresenta número de pessoas vivendo com AIDS, o número de pessoas mortas por AIDS, número de novos infectados e a população mundial naquele momento, além de dados como PIB per cápita e IDH**

In [75]:
suffix_newlyinfected_5_anos= newlyinfected_5_anos.add_suffix('_novosinfectados')
suffix_totalpopulation_5_anos=totalpopulation_5_anos.add_suffix('_população_total')
juncaodosdados=pessoascomaids_mortesporaids.join(suffix_newlyinfected_5_anos, how="inner")
juncaodosdados=juncaodosdados.join(suffix_totalpopulation_5_anos, how="inner")
juncaodosdados=juncaodosdados.join(idh_pib, how="inner")

juncaodosdados.head()

,1991_people_w_hiv,1996_people_w_hiv,2001_people_w_hiv,1991_mortesporaids,1996_mortesporaids,2001_mortesporaids,1991_novosinfectados,1996_novosinfectados,2001_novosinfectados,1991_população_total,1996_população_total,2001_população_total,1991_idh,1996_idh,2001_idh,1991_pibpercapita,1996_pibpercapita,2001_pibpercapita
Barbados,600.0,1100.0,1200.0,60.0,60.0,60.0,160.0,160.0,160.0,261281.0,265940.0,270686.0,0.716,0.733,0.749,12573.0,12783.0,14244.0
Belize,1100.0,2300.0,3400.0,60.0,150.0,350.0,350.0,350.0,350.0,191127.0,213674.0,254989.0,0.651,0.659,0.678,5594.0,6137.0,7373.0
Cambodia,34000.0,80000.0,85000.0,600.0,4100.0,7300.0,11000.0,10000.0,6200.0,9323607.0,11022162.0,12448881.0,0.362,0.391,0.427,1055.0,1117.0,1448.0
Dominican Republic,21000.0,44000.0,52000.0,600.0,2200.0,4000.0,5700.0,6000.0,4900.0,7325622.0,8029114.0,8697127.0,0.601,0.634,0.660,5222.0,6514.0,7974.0
France,98000.0,98000.0,120000.0,8200.0,5600.0,1800.0,6500.0,8000.0,5300.0,57226524.0,58443318.0,59711914.0,0.788,0.830,0.851,29707.0,31141.0,35197.0

**Tabela com dados de doações feitas pelas UNAIDS e suas associadas e a quantidade de mortes por AIDS de 2006 até 2011 (dados limitaram o estudo)**

In [114]:
doaçãoes_intervalo_7_anos = donationsfromUNAIDS_idx[donationsfromUNAIDS_idx.columns[1:7]]
mortes_intervalo_7_anos = deaths_idx[deaths_idx.columns[16:250]]
mortesporaids_doacao_unaids = doaçãoes_intervalo_7_anos.join(mortes_intervalo_7_anos, how="inner", lsuffix ="_donations_UNAIDS", rsuffix = "_mortesporaids")
mortesporaids_doacao_unaids.head()

,2006_donations_UNAIDS,2007_donations_UNAIDS,2008_donations_UNAIDS,2009_donations_UNAIDS,2010_donations_UNAIDS,2011_donations_UNAIDS,2006_mortesporaids,2007_mortesporaids,2008_mortesporaids,2009_mortesporaids,2010_mortesporaids,2011_mortesporaids
Armenia,140000.0,330000.0,260000.0,230000.0,320000.0,240000.0,350.0,350.0,350.0,350.0,350.0,350.0
Azerbaijan,10000.0,70000.0,90000.0,90000.0,130000.0,220000.0,350.0,350.0,350.0,350.0,350.0,350.0
Brazil,630000.0,690000.0,480000.0,250000.0,630000.0,820000.0,12000.0,14000.0,14000.0,14000.0,15000.0,15000.0
Colombia,200000.0,340000.0,200000.0,250000.0,170000.0,360000.0,9900.0,9200.0,9800.0,11000.0,11000.0,9700.0
Dominican Republic,170000.0,550000.0,330000.0,320000.0,380000.0,670000.0,3900.0,3400.0,2700.0,2200.0,2000.0,1700.0

**Comportamento dos índices nos paises x, y, z:**

In [57]:
#DESENVOLVIMENTO FUTURO
#plt.title("Variação dos indices com a passagem do tempo")
#plt.plot(, , 'red', label="Temperatura da água em graus celsius")
#plt.ylabel("IDH")
#plt.xlabel("Tempo em anos")

## Análise de dados

Insira abaixo uma análise de dados tratada para ter maior clareza. 

Lembre-se de que, além deste arquivo principal, você precisa entregar um ou mais *notebooks* mais brutos com todas as tentativas que fez e que não deram certo .

**Não inclua dados ou gráficos sem motivação nem interpretação** - sempre que fizer uma análise, plot ou tablea, diga qual sua intenção. Logo após a apresentação diga qual conclusão específica ou interpretação você tira daquela análise

## Conclusão

Responda à pergunta, argumento da melhor forma possível com base nos dados