# Projeto 1 - Ciência dos Dados#

Nome: Daniel Minson Pucciariello

## Perguntas a serem respondidas

Esse projeto tem como objetivo analisar como a ação da UNAIDS em países da África em que atua desde 1996, momento em que foi fundada, vem alterando a vida da população desses países. Mais precisamente, ele pretende responder às seguintes perguntas:

A ação da agencia internacional ocasionou uma diminuição significativa no índice de mortes por AIDS, no índice de novas pessoas com AIDS e no número de pessoas que vivem com AIDS?
A ação da agencia internacional pode ter ocasionado uma melhora sigificativa na condição de saúde dos países em que atua e permitido que os gastos com saúde diminuissem de maneira substâncial?

## Explicação da hipótese e mecanismo

Anteriormente ao estudo ser realizado, se espera que a ação da UNAIDS tenha levado à uma redução significativa na taxa de mortalidade por AIDS e no número de pessoas que vive com AIDS. Se entende que uma comparação entre dados de gastos com saúde (muitas vezes maiores devido à doações internacionais muitas vezes fomentadas pela ação da UNAIDS) e a diminuição da porcentagem de mortes por AIDS possa dizer a eficiencia da ação desse orgão internacional.

## Bases de dados usadas

LINKS
Adultos com AIDS - https://docs.google.com/spreadsheet/pub?key=pyj6tScZqmEfbZyl0qjbiRQ&output=xlsx

IDH - https://docs.google.com/spreadsheet/pub?key=tyadrylIpQ1K_iHP407374Q&output=xlsx

População total - https://docs.google.com/spreadsheet/pub?key=phAwcNAVuyj0XOoBL_n5tAQ&output=xlsx

In [2]:
%matplotlib inline
import pandas as pd
import numpy as np
import math as math
from scipy import stats
import matplotlib.pyplot as plt

In [27]:
IDH = pd.read_excel('hdi_human_development_index.xlsx')
deaths = pd.read_excel("Indicator_Annual number of AIDS deaths.xlsx")
peoplewithaids = pd.read_excel("indicator_hiv_plwha.xlsx")
expectativadevida = pd.read_excel('indicator life_expectancy_at_birth.xlsx')
pibpercapita = pd.read_excel('indicator gapminder gdp_per_capita_ppp.xlsx')
newlyinfected = pd.read_excel('Indicator_Estimated new HIV cases All ages.xlsx')
totalpopulation = pd.read_excel("indicator gapminder population.xlsx")

**Mudando os índices, renomeando colunas e limpando dados:**

In [28]:
IDH= IDH.rename(columns = {"geo":'IDH'})
idh_idx=IDH.set_index("IDH")
idh_idx=idh_idx.dropna()

deaths=deaths.rename(columns = {"Annual number of AIDS deaths":'Mortes por AIDS', "1996": 1996, "2001":2001})
deaths_idx=deaths.set_index("Mortes por AIDS")
deaths_idx=deaths_idx.dropna()

peoplewithaids=peoplewithaids.rename(columns = {"People living with HIV":'Pessoas com AIDS', "1996": 1996, "2001":2001})
peoplewithaids_idx=peoplewithaids.set_index("Pessoas com AIDS")
peoplewithaids_idx=peoplewithaids_idx.dropna()

expectativadevida=expectativadevida.rename(columns={"Life expectancy":"Expectativa de vida"})
expectativadevida_idx=expectativadevida.set_index("Expectativa de vida")
expectativadevida_idx=expectativadevida_idx.dropna()

pibpercapita=pibpercapita.rename(columns={"GDP per capita":"PIB per capita"})
pibpercapita_idx=pibpercapita.set_index("PIB per capita")
pibpercapita_idx=pibpercapita_idx.dropna()

newlyinfected=newlyinfected.rename(columns={"Estimated new HIV infections":"Incidencia de AIDS em novas pessoas"})
newlyinfected_idx=newlyinfected.set_index("Incidencia de AIDS em novas pessoas")
newlyinfected_idx=newlyinfected_idx.dropna()

totalpopulation=totalpopulation.rename(columns={"Total population":"População total"})
totalpopulation_idx=totalpopulation.set_index("População total")
totalpopulation_idx=totalpopulation_idx.dropna()

**Estudo dos dados a cada 5 anos, sendo 5 anteriores e 5 posteriores ào começo da organização:**

In [31]:
idh_5_anos =idh_idx.loc[:,[1991, 1996, 2001]]
deaths_5_anos=deaths_idx.loc[:,[1991, 1996, 2001]]
peoplewithaids_5_anos=peoplewithaids_idx.loc[:,[1991, 1996, 2001]]
expectativadevida_5_anos=expectativadevida_idx.loc[:,[1991, 1996, 2001]]
pibpercapita_5_anos =pibpercapita_idx.loc[:,[1991, 1996, 2001]]
newlyinfected_5_anos =newlyinfected_idx.loc[:,[1991, 1996, 2001]]
totalpopulation_5_anos = totalpopulation_idx.loc[:,[1991, 1996, 2001]]

**Comparação do IDH a cada 5 anos:**

In [18]:
idh_5_anos.head()

              1991   1996   2001
IDH
Afghanistan  0.300  0.328  0.341
Albania      0.618  0.637  0.670
Algeria      0.581  0.609  0.653
Argentina    0.713  0.738  0.776
Armenia      0.628  0.609  0.645

**Comparação da taxa de mortes por AID, de 5 em 5 anos:**

In [19]:
deaths_5_anos.head()

                  1991   1996   2001
Mortes por AIDS
Afghanistan       60.0  150.0  150.0
Armenia           60.0   60.0  150.0
Australia        600.0  600.0  150.0
Austria           60.0   60.0   60.0
Azerbaijan        60.0   60.0  150.0

**Comparação da quantidade de pessoas que vivem com AIDS, de 5 anos em 5 anos:**

In [20]:
peoplewithaids_5_anos.head()

                     1991     1996      2001
Pessoas com AIDS
Afghanistan         600.0   1400.0    2000.0
Angola            39000.0  80000.0  130000.0
Argentina         31000.0  51000.0   66000.0
Armenia             600.0   1600.0    3500.0
Australia         12000.0  11000.0   13000.0

**Comparação da quantidade de novas pessoas infectadas com AIDS, de 5 anos em 5 anos:**

In [21]:
newlyinfected_5_anos.head()

                                       1991     1996     2001
Incidencia de AIDS em novas pessoas
Angola                               8500.0  15000.0  20000.0
Bahamas                               750.0    750.0    750.0
Bangladesh                            160.0    160.0    350.0
Barbados                              160.0    160.0    160.0
Belarus                                60.0    160.0   2100.0

**Comparação da expectativa de vida, de 5 anos em 5 anos:**

In [22]:
expectativadevida_5_anos.head()

                     1991  1996  2001
Expectativa de vida
Afghanistan          49.3  49.7  50.4
Albania              73.4  73.8  75.1
Algeria              70.5  72.1  73.5
American Samoa       70.2  70.7  71.7
Andorra              81.8  82.8  83.9

**Comparação da população de cada país, de 5 anos em 5 anos:**

In [32]:
totalpopulation_5_anos.head()

                       1991        1996        2001
População total
Afghanistan      12789374.0  17481800.0  20531160.0
Albania           3275438.0   3092034.0   3124093.0
Algeria          26554277.0  29411839.0  31590320.0
American Samoa      48379.0     53926.0     58176.0
Andorra             56674.0     64291.0     67770.0

**Comparação do número de pessoas com AIDS com mortes por AIDS**

In [23]:
pessoascomaids_mortesporaids= peoplewithaids_5_anos.join(deaths_5_anos, how="inner", lsuffix ="_people_w_aids", rsuffix = "_mortesporaids")
pessoascomaids_mortesporaids.head()

,1991_people_w_aids,1996_people_w_aids,2001_people_w_aids,1991_mortesporaids,1996_mortesporaids,2001_mortesporaids
Afghanistan,600.0,1400.0,2000.0,60.0,150.0,150.0
Armenia,600.0,1600.0,3500.0,60.0,60.0,150.0
Australia,12000.0,11000.0,13000.0,600.0,600.0,150.0
Austria,600.0,2300.0,5500.0,60.0,60.0,60.0
Azerbaijan,160.0,600.0,3000.0,60.0,60.0,150.0

**Junção de várias tabelas - apresenta número de pessoas vivendo com AIDS, o número de pessoas mortas por AIDS e o número de novos infectados**

In [24]:
suffix_newlyinfected_5_anos= newlyinfected_5_anos.add_suffix('_novosinfectados')
juncaodosdados=pessoascomaids_mortesporaids.join(suffix_newlyinfected_5_anos, how="inner")
juncaodosdados

,1991_people_w_aids,1996_people_w_aids,2001_people_w_aids,1991_mortesporaids,1996_mortesporaids,2001_mortesporaids,1991_novosinfectados,1996_novosinfectados,2001_novosinfectados
Bahamas,6200.0,6700.0,6500.0,350.0,600.0,600.0,750.0,750.0,750.0
Barbados,600.0,1100.0,1200.0,60.0,60.0,60.0,160.0,160.0,160.0
Belize,1100.0,2300.0,3400.0,60.0,150.0,350.0,350.0,350.0,350.0
Cambodia,34000.0,80000.0,85000.0,600.0,4100.0,7300.0,11000.0,10000.0,6200.0
Dominican Republic,21000.0,44000.0,52000.0,600.0,2200.0,4000.0,5700.0,6000.0,4900.0
France,98000.0,98000.0,120000.0,8200.0,5600.0,1800.0,6500.0,8000.0,5300.0
Georgia,350.0,600.0,1100.0,60.0,60.0,60.0,60.0,160.0,350.0
Haiti,110000.0,130000.0,130000.0,5000.0,10000.0,12000.0,18000.0,12000.0,12000.0
Indonesia,60.0,600.0,12000.0,60.0,60.0,150.0,60.0,350.0,5600.0
Jamaica,16000.0,34000.0,36000.0,350.0,1800.0,3100.0,4500.0,4800.0,2900.0
Kazakhstan,160.0,3300.0,9200.0,60.0,60.0,350.0,60.0,1800.0,1600.0
Kyrgyz Republic,60.0,160.0,600.0,60.0,60.0,60.0,60.0,60.0,350.0
Malawi,420000.0,660000.0,860000.0,18000.0,41000.0,63000.0,85000.0,96000.0,100000.0
Mexico,99000.0,120000.0,140000.0,5300.0,7600.0,7800.0,12000.0,13000.0,12000.0
Moldova,600.0,3400.0,11000.0,60.0,150.0,600.0,160.0,1700.0,1100.0
Myanmar,47000.0,120000.0,230000.0,350.0,3900.0,10000.0,13000.0,23000.0,28000.0
Namibia,17000.0,77000.0,160000.0,600.0,2600.0,8600.0,5200.0,21000.0,23000.0
Niger,16000.0,30000.0,45000.0,600.0,1800.0,3200.0,3000.0,5200.0,6200.0
Nigeria,360000.0,1500000.0,2500000.0,7600.0,54000.0,150000.0,140000.0,340000.0,310000.0
Papua New Guinea,5500.0,16000.0,24000.0,150.0,600.0,1600.0,1700.0,2900.0,2900.0
Rwanda,200000.0,200000.0,220000.0,14000.0,17000.0,21000.0,24000.0,21000.0,19000.0
Sierra Leone,1100.0,6800.0,21000.0,60.0,150.0,600.0,350.0,2100.0,4500.0
South Africa,170000.0,1700000.0,4400000.0,3600.0,41000.0,210000.0,73000.0,570000.0,610000.0
Sri Lanka,600.0,1100.0,1900.0,60.0,60.0,150.0,160.0,160.0,350.0
Suriname,4600.0,8600.0,7900.0,150.0,600.0,600.0,1200.0,750.0,350.0
Swaziland,17000.0,61000.0,120000.0,600.0,2400.0,6700.0,5300.0,15000.0,19000.0
Tanzania,820000.0,1400000.0,1400000.0,30000.0,89000.0,130000.0,200000.0,160000.0,140000.0
Trinidad and Tobago,2100.0,7100.0,11000.0,60.0,350.0,600.0,750.0,1400.0,1200.0
Uganda,1200000.0,1100000.0,990000.0,95000.0,110000.0,100000.0,120000.0,88000.0,99000.0
United States,830000.0,840000.0,1000000.0,39000.0,59000.0,20000.0,52000.0,66000.0,48000.0
Zimbabwe,880000.0,1700000.0,1800000.0,32000.0,96000.0,150000.0,200000.0,240000.0,140000.0

In [137]:
idh_pib= idh_5_anos.join(pibpercapita_5_anos, how="inner", lsuffix ="_idh", rsuffix = "_pibpercapita")
idh_pib.head()

,1991_idh,1996_idh,2001_idh,1991_pibpercapita,1996_pibpercapita,2001_pibpercapita
Afghanistan,0.300,0.328,0.341,1022.0,895.0,862.0
Albania,0.618,0.637,0.670,3081.0,4326.0,5730.0
Algeria,0.581,0.609,0.653,9748.0,9375.0,10203.0
Argentina,0.713,0.738,0.776,9333.0,11150.0,10875.0
Armenia,0.628,0.609,0.645,3329.0,2333.0,3214.0

**Comportamento dos índices nos paises x, y, z:**

In [ ]:
#DESENVOLVIMENTO FUTURO
#plt.title("Variação dos indices com a passagem do tempo")
#plt.plot(, , 'red', label="Temperatura da água em graus celsius")
#plt.ylabel("IDH")
#plt.xlabel("Tempo em anos")

## Análise de dados

Insira abaixo uma análise de dados tratada para ter maior clareza. 

Lembre-se de que, além deste arquivo principal, você precisa entregar um ou mais *notebooks* mais brutos com todas as tentativas que fez e que não deram certo .

**Não inclua dados ou gráficos sem motivação nem interpretação** - sempre que fizer uma análise, plot ou tablea, diga qual sua intenção. Logo após a apresentação diga qual conclusão específica ou interpretação você tira daquela análise

## Conclusão

Responda à pergunta, argumento da melhor forma possível com base nos dados